* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 16px;
  background-color: var(--color-hard-purple);
}
:root {
  --color-hard-purple: #2a2f4f;
  --color-purple: #917fb3;
  --color-pink: #e5beec;
  --color-soft-pink: #fde2f3;
}
.container {
  padding: 20px;
  width: 100%;
}
.linear-color {
  background: linear-gradient(270deg, #917fb3 0%, #e5beec 52.31%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.mh-100 {
  min-height: 100vh;
}

/* HOME */
.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.home--title {
  font-size: 2rem;
}
.home--slider {
  height: 70vh;
  width: 100%;
  display: flex;
  overflow-x: scroll;
  gap: 20px;
  padding: 10px;
}
.home--slider__item {
  width: 100%;
  min-width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      0deg,
      rgba(42, 47, 79, 0.6),
      rgba(42, 47, 79, 0.6)
    ),
    url("https://images.unsplash.com/photo-1604654894610-df63bc536371?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 2px 15px rgba(253, 226, 243, 0.15);
  border-radius: 10px;
}
.home--slider__item > h2 {
  font-family: "Martel", serif;
  font-size: 1.2rem;
  color: var(--color-pink);
}
.home--anchor {
  background-color: var(--color-pink);
  padding: 10px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
}
/* HOME */

/* PRICES */
.prices {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.prices--list {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  gap: 20px;
  padding: 10px;
}
.prices--list__item {
  width: 100%;
  height: 100%;
  min-width: 300px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  border: 2px solid var(--color-soft-pink);
  border-radius: 8px;
  text-align: center;
}
.prices--list__item > h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: var(--color-purple);
}
.prices--list__item > h2 {
  font-family: "Martel", serif;
  font-size: 3rem;
  color: var(--color-pink);
}
.prices--list__item > p {
  font-family: "Noto Sans", sans-serif;
  color: var(--color-soft-pink);
}
.prices--list__item > a {
  background-color: var(--color-pink);
  padding: 10px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  color: var(--color-hard-purple);
}
/* PRICES */

/* TESTIMONIALS */
.testimonials {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.testimonials--list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.testimonials--list__item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.testimonials--list__item > h3 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: var(--color-pink);
}
.testimonials--list__item .stars {
  display: flex;
  gap: 5px;
  align-items: center;
}
.testimonials--list__item > p {
  font-family: "Poppins", sans-serif;
  color: var(--color-soft-pink);
}
/* TESTIMONIALS */
